/*style=" background-size: cover; background-position: center; height: 80vh;"*/
.bienvenu {
    font-family: 'Dancing Script', cursive;
}
.descriptionEvenement{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}